@import 'utilities.css';
:root{
    --primary:#3dcfd3;
    --dark:#161616;
    --pure:#ffffff;
    --ternary:#898989;
    --light:#f2f2f2;
    --secondry: #070606;
}
body{
    font-family: 'poppins' sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
}
header{
    background: var(--dark);
    clip-path: polygon(10% 90%,10% 100%,100% 100%,100% 0,10% 0);
}
.container{
    max-width: 1152px;
    padding: 0 25px;
    margin: 0 auto;
}
header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left a:hover{
    color: var(--primary);
}
header nav{
    padding: 2rem 0;
}
header nav .branding{
    margin-right: 2rem;
}
.hero .left img{
    width: 400px;
    height: 600px;

}
header nav .right{
    right: 20%;
}
.right{
    font-size: larger;
    width: 30%;
}
.hero .right{
    width: 50%;
    height: 60%;
    font-size: larger;
}
.hero .right h6{
    text-transform: uppercase;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.hero .right h1{
    color: var(--pure);
    font-size: 3rem;
    font-weight: 100;
    line-height: 2.8rem;
    margin-bottom: 1rem;
}
.hero .right p{
    color: #ffffff;
    margin-top: 0.3rem;
    margin: .5rem;
}
.hero .right h1 span{
    color: var(--primary);
    justify-content: space-between;

}
section{
    padding: 6rem 0;
    clip-path: polygon(0 0,90% 0,90% 90%,70% 90%,0 90%);
}
section.about .about-me{
    height: 400px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 300;
}
section.about h1 span{
    color: var(--primary)
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;
}
section.about p{
    color: var(--ternary);
    line-height: 1.8rem;
    margin-bottom: 1rem;
}
section.about .social{
    display: flex;

}
section.about .social a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all .3s;
    color: #ffffff;
    margin-right: 0.6rem;
}
section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    color: #cfc8c8;
}
section.about .social a:hover{
    background: var(--primary);
}
.section-head{
       color: var(--secondry);
       text-align: center;
       margin-bottom: 1rem;
       line-height: 0.5;
}
.section-head span{
    color: var(--primary);
}
.section-head+p{
    color: var(--dark);
    margin-bottom: 6rem;
    text-align: center;
}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
}
section.services{
    background: var(--ternary);
    <br>
}
section.services .card-wrapper .card{
    background: var(--light);
    padding: 3rem 2rem;
    padding-top: 4rem;
    position: relative;
    text-align: center;
    transition: all .3s;
}
section.services .card-wrapper .card img{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--pure);
    width: 70px;

}
section.services .card-wrapper .card h2{
    font-weight: 300;
    color: var(--dark);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p{
    color: var(--ternary);
    line-height: 1.6;
}
section.services .card-wrapper .card:hover{
    background: var(--secondry);
}
section.services .card-wrapper .card:hover h2,section.services .card-wrapper .card:hover p{
    color: var(--pure);
}
footer.footer{
    background: var(--ternary);
    height: 5rem;
}
footer.footer h1{
    color: var(--dark);
    text-align: center;
}
footer.footer .contect{
    justify-items: center;
    padding-bottom: 1rem;
    right: 50%;
}
footer.footer a{
    color: var(--dark);
    display: grid;
    grid-template-columns: auto;
 text-align: center;
}
